<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.729977888851-fpbie1hctitespeclb32crja0j11h9rv</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>LexendDeca-SemiBold.ttf</string>
		<string>LexendDeca-Medium.ttf</string>
		<string>LexendDeca-Regular.ttf</string>
		<string>LexendDeca-Bold.ttf</string>
	</array>
</dict>
</plist>
